/*Nav Bar Start*/
.nav_li {
   display: inline-block;

}

.active {
 background-color: #485643;
 color: white;
}

.nav_ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: center;
 background-color: #687d60;
}


li a {
 display: block;
 color: white;
 text-align: center;
 padding: 20px 100px;
 text-decoration: none;
}

li a:hover {
 background-color: #5c937E;
}
